* {
    box-sizing: border-box;
}

a{ 
    color: initial;
}
    a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


html {
    position: relative;
    min-height: 100%;
}


#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 50px;
    background-color: #f9e7e7;
}

#header {
     /*border: 1px solid black;*/
    width: 100%;
    color: red;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ded6d6;

}

body {
    margin: 0 0 100px 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

}


#footer {
    /*border: 1px solid black;*/
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ded6d6;
}

#desc {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
}

.song {
    /*border: 1px solid black;*/
    flex: 1 1 calc(45%);
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.song:hover {
    color: #999;
}

.artist {
    font-size: 16px;

}

.title {
    display: block;

}

/*.title::before {
    content: ' - ';

}*/

.copyright {
    margin: 5px;
    bottom: 0;
    position: absolute;
    right: 0;
    font-size: 12px;

}

.popup {
    
    width: 400px;
    height: 300px;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    background: white;
    display: none;
}

.about {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background: white;
    display: none;
    position: absolute;
}